.home-container {
  display: flex;
  .users-left-panel {
    flex: 1;
    border: solid 1px lightgray;
  }
  .chat-right-panel {
    flex: 3;
    height: 55.89rem;
    .empty-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 35rem;
      font-size: 38px;
      font-weight: 600;
      .happy-icon {
        height: 80px;
        width: 80px;
      }
    }
  }
}
