.users-container {
  position: relative;
  height: 100%;
  width: 100%;
  .users-content {
    border-bottom: solid 1px rgb(0 0 0 / 23%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    &:hover {
      background-color: #adabab6e;
      cursor: pointer;
    }
    .icon {
      height: 40px;
      width: 40px;
    }
    .users-data {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
    }
  }
  .active {
    background-color: rgb(195, 226, 247);
  }
}
