.chat-container {
  .chat-navbar {
    height: 42px;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    padding-left: 13px;
    align-items: center;
    border: solid 1px lightblue;
    border-radius: 5px 5px 0 0;
  }
  .chat-content {
    background: url("/background.jpg");
    background-attachment: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 53.2rem;
    .chat-messages {
      display: flex;
      flex-direction: column;
      padding: 15px;
      overflow-y: auto;
      .chat-bubble {
        display: inline-block;
        height: inherit;
        width: 300px;
        padding: 10px;
        border-radius: 20px;
        margin: 10px;
        border: solid 1px #8080804d;
        word-wrap: break-word;
        overflow-wrap: break-word;
        background: #fff;
      }
      .sent-by-me {
        background: #d9fdd3;
        align-self: flex-end;
      }
    }
    .chat-actions-container {
      background-color: #f0f2f5;
      padding: 10px;
      position: sticky;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .chat-actions {
        display: flex;
        gap: 10px;
        width: 96%;
        .chat-input {
          padding: 10px;
          font-size: 15px;
          border-radius: 25px;
          border: solid 1px lightgray;
          width: 100%;
          outline: none;
        }
        .submit-btn {
          width: 120px;
          border-radius: 25px;
          outline: none;
          background: #fff;
          border: solid 1px lightgray;
          box-shadow: 0px 0px 5px 1px #e9e9e9;
          font-size: 15px;
          font-weight: 600;
          color: #226b27;
          background-color: rgb(41 255 146 / 66%);
          &:hover {
            box-shadow: 0px 0px 5px 1px rgb(199 255 215 / 65%);
            background-color: #97ffc9a8;
          }
          &:disabled {
            box-shadow: 0px 0px 5px 1px #e9e9e9;
            background-color: lightgray;
            color: rgb(155, 155, 155);
          }
        }
      }
    }
  }
}
